*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
  
    background-image: url('movie.png');
    background-attachment: fixed;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

.search > div {
    display: inline-block;
    position: relative;
  }
  .search{
      z-index: 2;
      margin: 20px;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      background-color: ivory;
      padding: 15px;
      border-radius: 0 0 20px 20px;
  }
  .search > div:after {
    content: "";
    background: black;
    width: 4px;
    height: 15px;
    position: absolute;
    top: 26px;
    right: 0px;
    transform: rotate(135deg);
    box-shadow: 1px 0 #0091c2;
  }
  
  .search > div > input {
    color: black;
    text-align: center;
    font-size: 16px;
    background: transparent;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: solid 3px black;
    z-index: 3;
    outline: none;
    border-radius: 35px;
    box-shadow: 0 1px #0091c2;
    transition: width 0.5s;
  }
  
  .search > div > input::placeholder {
    color: black;
    opacity: 0.5;
  }
  
  .search > div > input:focus,
  .search > div > input:valid {
    width: 250px;
  }

  .hideImg{
      display: none;
  }

  .showImg{
      width: 250px;
      height: 350px;
  }

  iframe {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 80vh;
    width: 100vw;
}

#container{
    position: relative;
    top: 535px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: flex-end;
     background-attachment: fixed;
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: 75vh;
}

.content{
    padding-right: 150px;
    padding-top: 10px;
    align-self: center;
    /* word-wrap: break-word; */
}

ul{
    list-style-type: none;
}

ul li{
    color: white;
    display: inline-block;
    padding-right: 5px;
}

h2,p{
    color: white;
}

#img{
   justify-self: center;
   margin-top: -30px;
   border: 10px solid white;
   outline: 1px solid black;
   /* outline-offset: -10px; */
   z-index: 2;
}

#footer a{
    position: relative;
    left: 38%;
    transform: translateX(-38%);
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
}

#footer{
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0;
    transform: translateY(400px);
    background-color: rgba(0, 0, 0, 0.97);
}

.footerAdil{
    position: absolute;
    right: 50px;
    top: 25px;
}

.footerAkshat{
    position: absolute;
    right: 30px;
    top: 55px;
}

#footer h3{
    position: absolute;
    top: 25px;
    right: 100px;
    color: white;
}

.footerAdil a{
    color: white;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.footerAkshat a{
    color: white;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#footer img{
    height: 80%;
    position: relative;
    margin-top: 10px;
    left: 20px;
    
}


.navBack{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100px;
    height: 50px;
    position: absolute;
    top: 8px;
    border-radius: 0 10px 10px 0;
    z-index: 2;
  }
