@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(rgba(50,50,50,0.5), rgba(100,100,100,0.7)), url('movie.png');
    background-attachment: fixed;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

.search > div {
    display: inline-block;
    position: relative;
  }
  .search{
      z-index: 2;
      margin: 20px;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      background-color: ivory;
      padding: 15px;
      border-radius: 0 0 20px 20px;
  }
  .search > div:after {
    content: "";
    background: black;
    width: 4px;
    height: 15px;
    position: absolute;
    top: 26px;
    right: 0px;
    transform: rotate(135deg);
    box-shadow: 1px 0 #0091c2;
  }
  
  .search > div > input {
    color: black;
    text-align: center;
    font-size: 16px;
    background: transparent;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: solid 3px black;
    z-index: 3;
    outline: none;
    border-radius: 35px;
    box-shadow: 0 1px #0091c2;
    transition: width 0.5s;
  }
  
  .search > div > input::placeholder {
    color: black;
    opacity: 0.5;
  }
  
  .search > div > input:focus,
  .search > div > input:valid {
    width: 250px;
  }

  .hideImg{
      display: none;
  }

  .showImg{
      width: 250px;
      height: 350px;
  }

  iframe {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 80vh;
    width: 100vw;
}

#container{
    position: relative;
    top: 535px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*  */
    background-attachment: fixed;
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: 75vh;
}

#content{
    padding: 15px;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 700px;
    height: 47vh;
    top: 5%;
    position: relative;
    border-radius: 20px;
}

ul{
    list-style-type: none;
    margin-bottom: 100px;
   
}

ul li{
    margin-bottom: 10px;
    color: white;
    display: inline-block;
    margin-right: 15px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 10px;

}

#budget{
    margin: 5px 0 10px 0;
}

#content h2{
    color: white;
    margin-bottom: 8px;
    font-size: 45px;
}
#content p{
    color: white;
    margin-bottom: 8px;
    font-size: 1.2em;
}

#img{
   justify-self: center;
   margin-top: 80px;
   border: 10px solid white;
   outline: 1px solid black;
   /* outline-offset: -10px; */
   z-index: 2;
}

#footer span a{
    position: relative;
    left: 38%;
    bottom: 35%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
  }

#footer{
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0;
    transform: translateY(400px);
    background-color: rgba(0, 0, 0, 0.97);
}

.footerAdil{
    position: absolute;
    right: 74px;
    top: 25px;
  }
  
  .footerAkshat{
    position: absolute;
    right: 52px;
    top: 55px;
  }

#footer h3{
    position: absolute;
    top: 38%;
    right: 115px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footerAdil a{
    color: white;
    font-size: 15px;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    cursor: pointer;
  }
  .footerAkshat a{
    color: white;
    font-size: 15px;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    cursor: pointer;
  }

#footer img{
    height: 80%;
    position: relative;
    margin-top: 10px;
    left: 20px;
    
}


.navBack{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100px;
    height: 50px;
    position: absolute;
    top: 8px;
    border-radius: 0 10px 10px 0;
    z-index: 2;
    transition: 0.4s;
  }
  .navBack:hover{
    transform: translateX(-10px);
    border-radius: 0 15px 15px 0;
  }
